<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Space Conquest - Home</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
          <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    </head>

    <body>
        <nav>
            <div class="nav-wrapper indigo darken-4">
              <a href="/home" class="brand-logo">Space Conquest</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/starscope">Starscope</a></li>
                <li><a href="/workshop">Workshop</a></li>
                <li><a href="/trading">Trading</a></li>
                <li><a href="/quests">Quests</a></li>
              </ul>
            </div>
        </nav>
        
        <h1>Hello! Welcome to Space Conquest. Click any button in the Navbar to get started.</h1>
        <font color=red>
          <h3 class="red">Please do not return to this page. It will restart everything and you will lose all your progress!</h3>
        </font>
    </body>


</html>